#main-section {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  column-gap: 2.19%;
  row-gap: 1.77%;
  width: 100vw;
  height: 100vh;
}