:host {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
}
// it is squares
$navbar-icons-size: 35px;

* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-inline-end: 40px;
  font-family: var(--header-font);
  font-size: 2.8rem;
  font-weight: 200;
}

.navbar-link {
  list-style: none;
  text-align: right;
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
    color: inherit;
    &:hover .navbar-text-link {
      transform: scale(1.20) translateX(-10px);
      font-weight: 400;
    }
    &:hover .navbar-icon-link {
      transform: scale(1.34)
    }
  }
}

.navbar-text-link {
  display: block;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbar-icon-link {
  display: none;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

// blog icon
.navbar-icon-link-blog {
  background-image: url(../../assets/vectors/Book-open.svg);
  background-size: contain;
}
.navbar-icon-link-blog-dark {
  background-image: url(../../assets/vectors/Book-open-dark.svg);
  background-size: contain;
}

// github icon
.navbar-icon-link-github {
  background-image: url(../../assets/vectors/Github.svg);
  background-size: contain;
}
.navbar-icon-link-github-dark {
  background-image: url(../../assets/vectors/Github-dark.svg);
  background-size: contain;
}

// twitter icon
.navbar-icon-link-twitter {
  background-image: url(../../assets/vectors/Twitter.svg);
  background-size: contain;
}
.navbar-icon-link-twitter-dark {
  background-image: url(../../assets/vectors/Twitter-dark.svg);
  background-size: contain;
}

// instagram
.navbar-icon-link-instagram {
  background-image: url(../../assets/vectors/Instagram.svg);
  background-size: contain;
}
.navbar-icon-link-instagram-dark {
  background-image: url(../../assets/vectors/Instagram-dark.svg);
  background-size: contain;
}

// facebook
.navbar-icon-link-facebook {
  background-image: url(../../assets/vectors/Facebook.svg);
  background-size: contain;
}

.navbar-icon-link-facebook-dark {
  background-image: url(../../assets/vectors/Facebook-dark.svg);
  background-size: contain;
}


// Media queries (Breakpoints)
@media (max-width: 1440px){
  
}
@media (max-width: 1280px){
  .navbar-text-link {
    display: none;
  }
  .navbar-icon-link {
    display: block;
    width: $navbar-icons-size;
    height: $navbar-icons-size;
    a {
    display: block;
    width: $navbar-icons-size;
    height: $navbar-icons-size;
    }
  }
}
@media (max-width: 768px){
  #navbar {
    flex-direction: row;
  }
}
@media (max-height: 638px) {
  #navbar {
    gap: 15px;
  }
}
@media (max-width: 440px){
  #navbar {
    gap: 15px;
  }
}