.body--light {
  color: $light-theme-foreground-secondary-color;
}

.body--dark {
  color: $dark-theme-foreground-secondary-color;
}

.main--light {
  background-color: $light-theme-background-secondary-color;
}

.main--dark {
  background-color: $dark-theme-background-primary-color;
}

.hero-background--light {
  background-color: var(--light-theme-background-primary-color)
}

.hero-background--dark {
  background-color: var(--dark-theme-background-secondary-color);
}