dark-theme-toggle:hover {
  cursor: pointer;
}

#theme-toggle-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: cover;
}

#theme-toggle-icon:hover {
  transform: scale(1.15) rotate(-25deg);
}

#theme-toggle-icon:active{

}

.dark-theme-toggle-icon{
  background-image: url(../assets/dark-theme-icon.svg);
}

.light-theme-toggle-icon{
  background-image: url(../assets/light-theme-icon.svg);
}