/* IMPORTS */
// Base
@import 'sass/variables';
@import 'sass/main-section';
@import 'sass/dark-light-theme';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
	font-size: 1.8rem;
  font-family: $regular-font;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}