
:host {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 200px;
}

.carrousel {
  width: 75%;
  max-width: 775px;
  margin: 0 auto;
}

.carrousel-cards,
.carrousel-card {
  width: 100%;
}

.carrousel-cards {
  column-gap: 20px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.carrousel-card {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.carrousel-cards.smooth-scroll {
  scroll-behavior: smooth;
}

.carrousel-cards {
  scrollbar-width: none;
}

.carrousel-cards::-webkit-scrollbar {
  display: none;
}

.carrousel {
  padding-bottom: 60px;
  position: relative;
}

.carrousel-navdots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.carrousel-navdots button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;

  background-color: #9a9a9a;
  border-radius: 50%;
  height: 10px;
  padding: 0;
  width: 10px;
}

.carrousel-navdots button.is-active {
  background-color: var(--dark-theme-background-primary-color);
}

.carrousel-navdots button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

.carrousel-card-title {
  font-size: 3rem;
}

.carrousel-card-tags {
  font-size: 1.4rem;
}

.tag {
  margin-inline-end: 20px;
  border: solid 0.7px var(--dark-theme-foreground-secondary-color);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--dark-theme-background-primary-color);
}

.tag:hover {
  cursor: pointer;
}

.carrousel-card-content {
  font-size: 2.4rem;
}

@media (max-width: 1440px){

}
@media (max-width: 1280px){
  
}
@media (max-width: 1160px){

}
@media (max-width: 980px){

}
@media (max-height: 900px){
  
}

@media (max-width: 768px){

}
@media (max-width: 440px){

}