:host {
  grid-column: 1 / 11;
  grid-row: 2 / 6 ;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px){
  
}
@media (max-width: 1280px){
  
}
@media (max-width: 1160px){

}
@media (max-width: 980px){

}
@media (max-height: 900px){
  
}

@media (max-width: 768px){
  :host {
    grid-column: 2 /12;
    grid-row: 1 / 5;
  }
}
@media (max-width: 440px){

}